<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.oxygen.micro.ayulr">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:icon="@drawable/ayulrlogo"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:usesCleartextTraffic="true"
        android:roundIcon="@drawable/ayulrlogo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".commonactivity.ActivitySplash"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.activity.ActivityViewPager"
            android:screenOrientation="portrait" />



        <activity
            android:name=".view.activity.Main2Activity"
            android:label="DASHBOARD"
            android:screenOrientation="portrait" />
        <activity
            android:name=".doctor.activity.ActivityLogin"
            android:screenOrientation="portrait" />
        <activity
            android:name=".doctor.activity.ActivityUserRegister"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activity.ForumActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activity.NewPostActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activity.ActivityAppointment"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activity.PersonalActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activity.ProfessionalActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activity.ClinicActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ViewProfileActivity"
            android:label="View Profile"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activity.UpdatePersonalActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activity.UpdateProfessionalActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activity.UpdateClinicalActivity"
            android:screenOrientation="portrait" />

        <meta-data
            android:name="com.razorpay.ApiKey"
            android:value="@string/razor_pay_api" />

        <activity
            android:name=".view.activity.TabActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activity.BasicPlan"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activity.PremiumPlan"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activity.StandardPlan"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activity.ChoosePlanActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activity.PasswordActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activity.ViewPatientActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activity.ForgotPasswordActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activity.ChangePasswordActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".commonactivity.CategoryActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activity.ActivityLoginpara"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.paramedical.activity.ParaDashboard"
            android:label="DASHBOARD"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.paramedical.activity.ParaRegisterActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.paramedical.activity.ParaPersonalActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.paramedical.activity.ParaProfessionalActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.paramedical.activity.ParaClinicActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.paramedical.activity.ParaPlanActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.paramedical.activity.ParaBasicPlanActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.paramedical.activity.ParaStandardPlanActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.paramedical.activity.ParaPremiumPlanActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.paramedical.activity.ParaViewProfileActivity"
            android:label="View Profile"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.paramedical.activity.ParaUpdatePersonalActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.paramedical.activity.ParaUpdateClinicalActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.paramedical.activity.ParaUpdateProfessionalActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.paramedical.activity.ParaAppointmentActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.paramedical.activity.ParaForumActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.paramedical.activity.ParaChoosePlanActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.paramedical.activity.ParaNewPostActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.paramedical.activity.ParaPasswordActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.nursing.activity.NursingActivityLogin"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.nursing.activity.NursingRegisterActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.nursing.activity.NursingPersonalActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.nursing.activity.NursingProfessionalActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.nursing.activity.NursingClinicalActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.nursing.activity.NursingPlanActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.nursing.activity.NursingBasicPlanActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.nursing.activity.NursingStandardPlanActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.nursing.activity.NursingPremiumPlanActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.nursing.activity.NursingDashboard"
            android:label="DASHBOARD"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.nursing.activity.NursingViewProfileActivity"
            android:label="View Profile"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.nursing.activity.NursingChoosePlanActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.nursing.activity.NursingPasswordActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.nursing.activity.NursingUpdatePersonalActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.nursing.activity.NursingUpdateProfessionalActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.nursing.activity.NursingUpdateClinicalActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.nursing.activity.NursingForumActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.nursing.activity.NursingNewPostActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.nursing.activity.NursingAppointmentActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.nursing.activity.NursingViewPatientActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.paramedical.activity.ParaViewPatientActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activity.AddVideoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activity.PacakageDealActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activity.DoctorPricingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.paramedical.activity.ParamedicalPriceingTable"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.nursing.activity.NursingPricingTable"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.paramedical.activity.ParaAddVideoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.nursing.activity.NursingAddVideoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activity.ServiceActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".view.activity.ViewBloodDonorActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".view.activity.BloodDonateActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".view.activity.ViewDetailBloodDonorActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".view.activity.MedicateEquipmentActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".view.activity.ViewMedicatedEquipmentActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".view.activity.ViewDetailMedicatedEquipmentActivity"
            android:screenOrientation="portrait"/>

        <uses-library android:name="org.apache.http.legacy"
            android:required="false"></uses-library>
    </application>

</manifest>